{% extends 'base2.html.twig' %}

{% block body %}
<div class="card-body">
    <div>
        <h4 class="card-title"></h4>
        <br><br><br>
        <h1>{{ titre }} Utilisateur</h1>
        <p class="card-description"></p>

        {{ form_start(form) }}

        <!-- Nom -->
        <div class="form-group">
            {{ form_label(form.nom, 'Nom') }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
            <small class="text-danger">{{ form_errors(form.nom) }}</small>
        </div>

        <!-- Prénom -->
        <div class="form-group">
            {{ form_label(form.prenom, 'Prénom') }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
            <small class="text-danger">{{ form_errors(form.prenom) }}</small>
        </div>

        <!-- Email -->
        <div class="form-group">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            <small class="text-danger">{{ form_errors(form.email) }}</small>
        </div>

        <!-- Mot de passe -->
        <div class="form-group">
            {{ form_label(form.plainPassword, 'Nouveau mot de passe (laisser vide si inchangé)') }}
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control p_input'}}) }}
        </div>

        <!-- Numéro de téléphone -->
        <div class="form-group">
            {{ form_label(form.numtlf, 'Numéro de téléphone') }}
            {{ form_widget(form.numtlf, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
            <small class="text-danger">{{ form_errors(form.numtlf) }}</small>
        </div>

        <!-- Âge -->
        <div class="form-group">
            {{ form_label(form.age, 'Âge') }}
            {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder': 'Âge'}}) }}
            <small class="text-danger">{{ form_errors(form.age) }}</small>
        </div>

        <!-- Photo de profil -->
        <div class="form-group">
            {{ form_label(form.photoDeProfile) }}
            {{ form_widget(form.photoDeProfile, {'attr': {'class': 'form-control p_input', 'type': 'file'}}) }}
            {% if user.photoDeProfile %}
                <img src="{{ asset('uploads/photos/' ~ user.photoDeProfile) }}" alt="Photo de profil" class="img-thumbnail mt-2" style="width: 150px; height: 150px;">
            {% endif %}
        </div>

        <!-- Rôles -->
        <div class="form-group">
            {{ form_label(form.roles, 'Rôles') }}
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
            <small class="text-danger">{{ form_errors(form.roles) }}</small>
        </div>

        <button type="submit" class="btn btn-inverse-primary btn-fw">{{ titre }}</button>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
